<html>
<head>
    <title>{{domain}}</title>
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='favicon.ico')}}">
    <script type="text/javascript" src="{{url_for('static', filename='jquery-1.6.2.min.js')}}"></script>
</head>
<body style="padding-top: 20px; padding-left: 20px;">
    <div id="content">
        <form method="POST">
            <input style="padding: 3px; margin-top: 3px; margin-bottom: 3px;" id="domain" name="domain" placeholder="Domain" value="{{domain}}" size="20" autofocus><BR>
            <input type="submit" name="submit" value="Check &gt;&gt;&gt;" onclick="$('#loading').show();">
            <div id="loading" style="display:none;"><img height="100px" width="100px" src="{{url_for('static', filename='spinner.gif')}}"></div>
        </form>
    </div>
</body>
</html>
